.container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;
}

#back-btn {
    padding: 20px 0;
}

.cartoon-bird {
    width: 80%;
}

.card {
    width: 95%;
    margin: 0px auto;
}

.card button {
    margin-top: 20px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    background-color: #0583F2;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: inline-block;
}

.inputfile.uploaded + label {
    background-color: green;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

#img {
    padding-top: 20px;
    width: 200px;
}