/* RESET CSS */
html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }

body {
    background-color: #5EC8F2!important;
    font-family: 'Poppins', sans-serif!important;
}

p {
  font-size: 18px!important;
}

.button {
  background-color: #0583F2;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}